.background {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.audio-button{
  z-index: 1000;
}

.question-box {
  width: 60%;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 768px) {
    width: 70%;
  }
  @media (max-width: 590px) {
    width: 80%;
  }
  @media (max-width: 470px) {
    width: 90%;
  }
}

.question-items > .box {
  width: 40%;
  text-wrap: wrap;
  @media(max-width: 375px) {
    width: 100%;
  }
}

.button-cl {
  &:active {
    transform: scale(0.9);
  }
}

@media(max-width: 375px) {
  .question-items > .box {
    width: 100%!important;
  }
}