<div class="background">
  <div class="section question-box">
    <div class="box has-text-centered has-text-weight-bold is-size-3 is-position-relative" style="z-index: 100">
          {{display_value?.name}} <span class="has-text-weight-normal is-size-4 is-unselectable" style="color:
          rgba(16,16,16,0.5)">({{display_value?.unit}})
    </span>
    </div>
    <div class="container">
      <div *ngIf="display_value" class="is-flex is-align-items-flex-start is-flex-wrap-wrap
      is-justify-content-space-between question-items has-text-centered has-text-weight-bold is-unselectable">
        <button [@ContentAnimation] *ngFor="let i of display_value.options; let index = index"
                (click)="check_answer(index)"
             class="box button p-4 button-cl" style="border: 0"
             [ngClass]="{ 'is-success': selected_button?.index === index,
             'has-background-danger': selected_button?.index === index && !selected_button?.correct }">
          {{i}}
        </button>
      </div>
    </div>
  </div>
</div>
