<div class="background ion-color-light">
  <div class="section question-box mt-6">
    <div class="box has-text-centered has-background-primary has-text-white has-text-weight-bold is-size-3 is-position-relative"
         style="z-index: 100">
          {{display_value?.name}} <span class="has-text-weight-normal is-size-4 is-unselectable" style="color:
          rgba(16,16,16,0.5)">({{display_value?.unit}})</span>
    </div>
    <div class="container">
      <div *ngIf="display_value" class="is-flex is-align-items-flex-start is-flex-wrap-wrap
      is-justify-content-space-between question-items has-text-centered has-text-weight-bold is-unselectable">
        <button [@ContentAnimation] *ngFor="let i of display_value.options; let index = index"
                (click)="check_answer(index)"
             class="box button p-4  has-background-grey-lighter has-text-black has-text-weight-bold is-size-6"
                style="border: 0;"
             [ngClass]="{
             'has-incorrect-value': selected_button?.index === index && !selected_button?.is_correct,
             'has-correct-value':  (index === selected_button?.correct_button && selected_button?.index !== index && !selected_button?.is_correct) || selected_button?.index === index,
              'button-cl': !selected_button
              }">
          {{i}}
        </button>
      </div>
    </div>
    <div *ngIf="show_new_question_button" class="section has-text-centered">

      <button class="button p-3 has-background-info next-button" (click)="update_value()">Další</button>
    </div>
  </div>
</div>
