// Variables for Bulma.io
$success: #25d107;
$danger: #ed2a19;
$primary: #3e8ed0;

.has-correct-value {
  background: red !important;
}


@media (prefers-color-scheme: dark) {
  :root {
    /* Update CSS variables */
  }
}
